/* Board Post List */
table {
  font-family: "SCDream7";
}

table > caption {
  font-size: 30px;
  color: grey;
  border-bottom: white;
  font-family: "SCDream7";
}

tbody > tr {
  border-bottom: white;
  transition: 200ms;
}
tbody > tr:hover {
  border-bottom: white;
  background-color: rgba(206, 41, 8, 0.05);
}
tr {
  font-family: "SCDream4";
  text-align: center;
}

.Board_Num {
  width: 7%;
}

.Board_Title {
  width: 53%;
}

.Board_Date {
  width: 15%;
}

.Board_Writer {
  width: 15%;
}

.Board_Views {
  width: 10%;
}

/* Board Header*/
.Board_header {
  font-family: "SCDream8";
}

/* Board Post List */
.Forum_container {
  width: 100%;
  height: 80vh;
  border: 2px solid rgba(231, 231, 231, 0.7);
}

.Board_Info {
  height: 10vh;
}

.Board {
  line-height: 4vh;

  height: 70vh;
}

.page-link {
  color: black !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: white !important;
  font-weight: bold;
  font-family: "SCDream7";
}

.page-item .page-link {
  height: fit-content;
  font-family: "SCDream7";
  float: left;
}

.page-item.active .page-link {
  font-size: 1.5em;
  font-family: "SCDream7";
}

.PostingBtn {
  padding: 0 !important;
  z-index: 5;
  position: absolute;
  right: 0;
  transition: 100ms;
}
.PostingBtn:hover {
  width: 40px;
}

.pagination {
  align-items: center;
  justify-content: center;
  height: fit-content !important;
  margin: 0% !important;
}
