/* Board Post List */
table {
  font-family: "SCDream7";
}

table > caption {
  font-size: 30px;
  color: grey;
  border-bottom: white;
  font-family: "SCDream7";
}

tbody > tr {
  transition: 200ms;
}
tbody > tr:hover {
  border-bottom: white;
  background-color: rgba(206, 41, 8, 0.06);
}
tr {
  font-family: "SCDream4";
  text-align: center;
}

.Board_Num {
  width: 7%;
}

.Board_Title {
  width: 53%;
}

.Board_Date {
  width: 15%;
}

.Board_Writer {
  width: 15%;
}

.Board_Views {
  width: 10%;
}

/* Board Header*/
.Board_header {
  font-family: "SCDream8";
}

/* Board Post List */
.Forum_container {
  width: 100%;
  min-height: 70vh;
  height: fit-content;
}

.Board_Info {
  height: 8vh;
  border-bottom: 1px solid black;
}

.Board {
  line-height: 4vh;
  min-height: 70vh;
  height: 70vh;
  border-bottom: 1px solid black;
}

.page-link {
  color: black !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  font-weight: bold;
  font-family: "SCDream7";
}

.page-item .page-link {
  text-align: center;
  width: 40px;
  height: fit-content;
  font-family: "SCDream5";
  float: left;
  transition: 100ms;
}

.page-item.active .page-link {
  border-color: rgba(255, 255, 255, 0) !important;
  color: #f6330a !important;
  font-size: 1.5em;
  font-family: "SCDream5";
}

.page-link:hover {
  font-size: 1.5em;
}

.PostingBtn {
  padding: 0 !important;
  z-index: 5;
  position: absolute;
  top: 18px;
  right: 0;
  transition: 100ms;
}
.PostingBtn:hover {
  width: 40px;
}

.pagination {
  align-items: center;
  justify-content: center;
  height: fit-content !important;
  margin: 0% !important;
  margin-top: 10px !important;
}

.marginRight {
  margin-left: 60px;
}
