/* Board Post List */
table {
  width: 100%;
  font-family: "SCDream7";
}

table > caption {
  font-size: 30px;
  color: grey;
  border-bottom: white;
  font-family: "SCDream7";
}

tbody > tr {
  border-bottom: white;
}

tr {
  font-family: "SCDream4";
  text-align: center;
}

.Board_Num {
  width: 10%;
}

.Board_Title {
  width: 50%;
}

.Board_Date {
  width: 15%;
}

.Board_Writer {
  width: 15%;
}

.Board_Views {
  width: 10%;
}

/* Board Post List */
.Forum_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Board_Info {
  flex-basis: 10%;
}

.Board {
  flex-basis: 65%;
}

.Board_paging {
  flex-basis: 10%;
  align-self: center;
  line-height: 100%;
}

.page-link {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
  font-weight: bold;
  font-family: "SCDream7";
}

.page-item.active .page-link {
  font-size: 1.7em;
  font-family: "SCDream7";
}

.Board_header {
  font-family: "SCDream8";
}
