.block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.Detail_address {
  flex-basis: 5%;
}

.title {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0;

  font-size: 1.3em;
  text-align: center;
  font-family: "SCDream5";
  display: flex;
}
.PostingTitle {
  padding: 5px 0;
}
.Detail_contents {
  height: 65vh;
  padding: 20px;
  text-overflow: scroll;
  font-size: 1.1em;
}

.Detail_contents > pre {
  white-space: pre-wrap; /* pre tag내에 word wrap */
  font-family: "SCDream4";
}

.Detail_bottom {
  text-align: right;
  padding: 30px;
}

.Detail_button {
  margin: 10px;
}
