.block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.Detail_info {
  height: 3vh;
}
.title {
  height: 8vh;
  border-bottom: 1px solid black;
  padding-top: 20px;
  font-size: 1.4em;
  text-align: center;
  font-family: "SCDream6";
  display: flex;
}

.Detail_contents {
  min-height: 67vh;
  width: 100%;
  height: fit-content;
  padding: 20px;
  text-overflow: scroll;
  font-size: 1.1em;
  border-bottom: 1px solid black;
}

.Detail_contents > pre {
  white-space: pre-wrap; /* pre tag내에 word wrap */
  font-family: "SCDream4";
}
.Detail_bottom {
  min-height: 10vh;
}
.DetailBtn {
  position: absolute;
  right: 0;
  transition: 100ms;
}

.DetailBtn:hover {
  width: 40px;
}

.FloatingBtn {
  position: fixed;
  width: 35px;
  transition: 100ms;
  bottom: 4.5vh;
  right: 6vw;
}

.FloatingBtn:hover {
  width: 40px;
}
