.block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.Detail_info {
  height: 3vh;
}
.title {
  height: 8vh;
  border-bottom: 1px solid black;
  padding-top: 20px;
  font-size: 1.4em;
  text-align: center;
  font-family: "SCDream6";
  display: flex;
}

.Detail_contents {
  position: relative;
  min-height: 67vh;
  width: 100%;
  height: fit-content;
  padding: 20px;
  text-overflow: scroll;
  font-size: 1.1em;
  border-bottom: 1px solid black;
}

.Detail_contents > pre {
  white-space: pre-wrap; /* pre tag내에 word wrap */
  font-family: "SCDream4";
}
.Detail_bottom {
  min-height: 10vh;
}
.DetailBtn {
  position: absolute;
  left: 88vw;
  transition: 100ms;
}

.DetailBtn:hover {
  width: 40px;
}

.FloatingBtn {
  position: fixed;
  bottom: 5vh;
  width: 35px;
  transition: 100ms;
  left: 88vw;
}

.FloatingBtn:hover {
  width: 40px;
}

.CmtClose {
  transform: rotate(90deg);
}
.cmtRenderTrue tbody tr {
  padding: 5px;
  height: 4.5vh;
}

.cmtRenderTrue tbody tr:hover {
  background-color: rgba(206, 41, 8, 0.06);
}

.cmtRenderFalse {
  display: none;
}

tbody tr:hover {
  background-color: none;
}

.cmtHeader {
  display: flex;
  margin: 10px 0 0 10px;
  align-items: center;
  width: fit-content;
}
.cmtHeader {
  display: flex;
  margin: 10px 0 0 10px;
  align-items: center;
  width: fit-content;
}
.comment {
  border: solid 1px !important;
}

.cmtTableWriter {
  width: 100px;
  font-family: "SCDream7";
  text-align: center;
}

.cmtTableContents {
  width: 30vw;
  text-align: initial;
}

.cmtTableSubmit {
  width: 100px;

  font-size: 12px;
  vertical-align: middle;
}

.recommendBtnFalse {
  position: absolute;
  bottom: 20px;
  left: 47%;
  font-family: "SCDream5";
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 2px 1px #d3d3d3;

  border-radius: 5px;
  width: 80px;
  line-height: 35px;
  text-align: center;
  transition: all 0.25s;
}
.recommendBtnFalse:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(246, 51, 10, 0.5);
}

.recommendBtnTrue {
  position: absolute;
  bottom: 20px;
  left: 47%;
  font-family: "SCDream5";
  background-color: rgba(246, 51, 10, 0.9);
  border: 1px solid rgba(246, 51, 10, 0.9);
  box-shadow: 1px 1px 2px 1px gray;

  color: #fff;
  border-radius: 5px;
  width: 80px;
  line-height: 35px;
  text-align: center;
  transition: all 0.25s;
}

.recommendBtnTrue:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(246, 51, 10, 0.5);
}
