.Gallery_post {
  padding: 20px;
  align-self: center;
  width: 16vw;
  height: 29vh;
}

.gallery_table tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery_table tr {
  margin-top: 5px;
  height: 34vh;
  display: flex;
  flex-direction: column;
  transition: 200ms;
}

.gallery_table tr:hover {
  border-bottom: 1px solid white;
}
