/* Home.tsx */
.a_tag {
  text-decoration: none;
  color: black;
}

.a_tag:hover {
  text-decoration: underline;
  color: black;
}

.noDrag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.home {
  position: relative;
  height: 100%;
}

/* 타이틀 및 공지사항 미리보기 (상단부) */
.home_firstLine {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2vh 0 10vh 0;
}

.home_Header {
  margin-top: 9vh;
  position: relative;
  width: 50vw;
}

.home_Title {
  font-size: 50px;
  font-family: "SCDream8";
  text-shadow: 1px 1px 2px #d3d3d3;
  text-align: center;
}

.home_subTitle {
  font-size: 25px;
  font-family: "SCDream4";
  margin-left: 4%;
  text-shadow: 1px 1px 2px #d3d3d3;
  text-align: center;
}

.home_LogoBadges {
  padding-left: 10vw;
  padding-top: 5vh;
  width: 100%;
  position: absolute;
}

.LogoBadge {
  border-radius: 20px;

  margin-right: 20px;
}
.home_Notice {
  margin: auto;
  width: 50vw;
  margin-top: 14vh;
  display: flex;
  padding-right: 10vw;
}

.notice_Header {
  width: 100vw;
}

.notice_Title {
  text-shadow: 1px 1px 2px #d3d3d3;
  margin-left: 15px;
  font-size: 25px;
  font-family: "SCDream8";
  display: inline;
}

.notice_more {
  text-shadow: none;

  font-family: "SCDream5";
  font-size: 15px;
  margin-left: 8px;
  color: #a0a0a0;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: 300ms;
}
.notice_more:hover {
  color: #f6330a;
}
.notice_posts {
  box-shadow: 1px 1px 2px 1px #f1f1f1;
  width: 40vw;
  height: auto;
  border-top: 3px solid #f6330a;
  display: flex;
  overflow: hidden;
}

.borderR {
  border-right: 2px solid #f0f0f0;
}

.notice_post {
  position: relative;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.25s;
}

.notice_post:hover {
  background-color: rgba(120, 10, 246, 0.1);
}
.notice_post_Title {
  padding-top: 1vh;
  font-family: "SCDream6";
  font-size: 20px;
  margin: 10px 0 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice_post_Inner {
  font-size: 1.2em;
  position: relative;
  font-family: "SCDream4";
  margin-left: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 3.6vh;
  height: 17.9vh;
}

.notice_post_date {
  font-family: "SCDream3";
  font-size: 15px;
  color: gray;
  text-align: right;
  margin-right: 5px;
}

/* 게시판 미리보기 (하단부) */
.home_SecondLine {
  position: relative;
  margin-top: 4vh;
  display: flex;
}

.home_Forum {
  padding: 0 10vw 3vh 10vw;

  display: flex;
}

.forum_name {
  text-shadow: 1px 1px 2px #d3d3d3;

  font-family: "SCDream7";
  margin-top: 10px;
  font-size: 20px;
}
.home_Forum {
  position: relative;
  margin: auto;
  width: 100%;
}

.Forum_Header {
  width: 80vw;
  min-width: 80vw;
  font-family: "SCDream8";
}

.Forum_Title {
  text-shadow: 1px 1px 2px #d3d3d3;

  text-align: left;
  margin-right: 10px;
}

.Forum_posts {
  width: 100%;
  box-shadow: 1px 1px 2px 1px #f1f1f1;
  height: 31vh;
  border-top: 3px solid #f6330a;
  display: flex;
  overflow: hidden;
}

.Forum_post {
  text-decoration: none;
  color: black;
  position: relative;
  width: 33.3%;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.25s;
  border: 2px solid rgba(246, 51, 10, 0);
  border-right-color: #f1f1f1;
}

.Forum_post:hover {
  background-color: rgba(246, 51, 10, 0.03);
  border-color: rgba(246, 51, 10, 0.5);
  border-top-color: rgba(255, 255, 255, 0);
}

.HomeGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Forum_Header2 {
  width: 80vw;
  min-width: 80vw;
  font-family: "SCDream8";
}

.footer_container {
  background-color: #f0f0f0;
  width: 100%;
  height: 25vh;
  margin-top: 16vh;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60vw;
  height: 25vh;
  vertical-align: middle;
}

.footerLogo {
  margin: auto 0 auto 0;
  filter: grayscale(100%);
}
