/* Home.tsx */
.a_tag {
  text-decoration: none;
  color: black;
}

.a_tag:hover {
  text-decoration: underline;
  color: black;
}

.noDrag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.home {
  position: relative;
  height: 100%;
}

/* 타이틀 및 공지사항 미리보기 (상단부) */
.home_firstLine {
  position: relative;
  display: flex;
}

.home_Header {
  margin-top: 10vh;
  position: relative;
  width: 50vw;
  padding-left: 7vw;
}

.home_Title {
  font-size: 50px;
  font-family: "SCDream8";
}

.home_subTitle {
  font-size: 25px;
  font-family: "SCDream4";
  margin-left: 4%;
  width: fit-content;
}

.home_LogoBadges {
  margin-left: 3vw;
}

.LogoBadge {
  margin-right: 20px;
}
.home_Notice {
  margin: auto;
  width: 50vw;
  margin-top: 15vh;
  display: flex;
  padding-right: 10vw;
}

.notice_Header {
  width: 100vw;
}

.notice_Title {
  margin-left: 15px;
  font-size: 25px;
  font-family: "SCDream8";
  display: inline;
}

.notice_more {
  font-family: "SCDream5";
  font-size: 15px;
  margin-left: 8px;
  color: #a0a0a0;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: 300ms;
}
.notice_more:hover {
  color: #f6330a;
}
.notice_posts {
  width: 100%;
  height: auto;
  border-top: 3px solid #f6330a;
  display: flex;
  overflow: hidden;
}

.borderR {
  border-right: 2px solid rgb(200, 201, 202);
}
.notice_post {
  position: relative;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.notice_post_Title {
  font-family: "SCDream5";
  font-size: 18px;
  margin: 10px 0 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice_post_Inner {
  position: relative;
  font-family: "SCDream3";
  margin-left: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 7.2em;
}

.notice_post_date {
  font-family: "SCDream3";
  font-size: 15px;
  color: gray;
  text-align: right;
  margin-right: 5px;
}

/* 게시판 미리보기 (하단부) */
.home_SecondLine {
  position: relative;
  margin-top: 4%;
  display: flex;
}

.home_Forum {
  padding-right: 10vw;
  padding-left: 10vw;
  display: flex;
}

.forum_name {
  font-family: "SCDream7";
  margin-top: 5px;
  font-size: 20px;
}
.home_Forum {
  position: relative;
  margin: auto;
  width: 100%;
}

.Forum_Header {
  width: 100vw;
  font-family: "SCDream8";
}

.Forum_Title {
  text-align: right;
  margin-right: 10px;
}

.Forum_posts {
  width: 100%;
  height: auto;
  border-top: 3px solid #f6330a;
  display: flex;
  overflow: hidden;
}

.Forum_post {
  text-decoration: none;
  color: black;
  position: relative;
  width: 33.3%;
  padding-left: 8px;
  padding-right: 8px;
}
