.borderGray {
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 3px 1px #dadce0;

  border-radius: 5px;
}
.borderGray:focus {
  border: none;

  outline: 2px solid #f6330a;
}

.noBorderBottom {
  border-bottom: none;
}
