a {
  text-decoration: none !important;
}

.container {
  display: flex;
  /* block로 바꾸면 상하로 */
  width: 100vw;
  max-width: 100vw !important;
  align-items: center;
}

/* 좌측영역 (Sidear) */
.left {
  /* border: 1px solid red; */
  margin-right: 3vw;
  padding-top: 8vh;
  width: 15vw;
}

/* 우측영역 (MainBar) */
.right {
  /* border: 1px solid red; */
  width: 80vw;
  margin-right: 5vw;
}

/* SideBar */
.Header {
  position: relative;
}

.Title {
  font-size: 40px;
  font-family: "SCDream9";
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f6330a;
}

.menu_Nav ul {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  padding: 0;
  text-align: center;
  height: 60vh;
  justify-content: center; /* 일정하게 띄워야함 */
}

.menu_Nav ul li {
  font-size: 1.5em;
  font-family: "SCDream5";
  height: 9vh;
}

.menu_Nav a {
  color: gray;
  vertical-align: middle;
  transition: 150ms;
}

.menu_Nav a:hover {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  font-size: 1.3em;
  font-family: "SCDream6";
  color: black !important;
}

/* 본문 */
.Main_Component {
  height: 90vh;
}

.SideBarActive {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  font-size: 1.3em !important;
  font-family: "SCDream6";
  color: black !important;
}
