.container {
  display: flex;
  /* block로 바꾸면 상하로 */
  width: 100vw;
}

.left {
  margin-right: 5vh;
  width: 15vw;
  border: 1px solid green;
}

.right {
  width: 80vw;
  float: left;
}

.Header {
  position: relative;
  height: auto;
}

.Title {
  font-size: 35px;
  font-family: "SCDream9";
  text-align: center;
}

.menu_Nav {
  position: relative;
}

.menu_Nav ul {
  padding: 0;
  text-align: center;
}
/* 왼쪽 네브 호버 */
.menu_Nav ul td {
  border: 1px solid blue;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: "SCDream5";
  height: 70px;
  width: fit-content;
}

.menu_Nav a:hover {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  font-size: 1.3em;
  font-family: "SCDream6";
}

.Main_Component {
  border: 1px solid red;
  height: 90vh;
}
