a {
  text-decoration: none !important;
}

.container {
  display: flex;
  /* block로 바꾸면 상하로 */
  width: 100vw;
  max-width: 100vw !important;
  align-items: center;
}

/* 좌측영역 (Sidear) */
.left {
  border: 1px solid red;
  margin-right: 5vh;
  width: 15vw;
}

/* 우측영역 (MainBar) */
.right {
  border: 1px solid red;
  width: 80vw;
  height: 100%;
}

/* SideBar */
.Header {
  position: relative;
}

.Title {
  font-size: 40px;
  font-family: "SCDream9";
  text-align: center;
}

.menu_Nav ul {
  padding: 0;
  text-align: center;
}

.menu_Nav ul li {
  display: block;
  font-size: 1.5em;
  font-family: "SCDream5";
  line-height: 90px;
  height: 90px;
}

.menu_Nav a:hover {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  font-size: 1.3em;
  font-family: "SCDream6";
}

/* 본문 */
.Main_Component {
  height: 90vh;
}
