.SignUp_container {
  font-family: "SCDream5";
  width: 100vw;
  height: 90vh;
  display: flex;
  text-align: center;
}

.SignUp_inner {
  margin: auto;
  width: 33vw;
  flex-direction: column;
}

.SignUp_inner label {
  float: left;
}

.form {
  display: inline-flex;
}

.inputBox_div {
  margin-bottom: 25px;
}
.inputBox {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
}
.inputBox:focus {
  border: none;

  outline: 2px solid #f6330a;
}

.inputBox_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.inputBox_div2 {
  width: 48%;
}

.submitBtn {
  border-radius: 5px;
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: black;
  transition: all 0.25s;
}

.submitBtn:hover {
  background-color: #f6330a;
  color: #fff;
  border: none;
}

.checkInit {
  text-align: initial;
  font-size: 12.5px;
  color: #ce2908;
}

.checkTrue {
  text-align: initial;
  font-size: 12.5px;
  color: #06a821;
}

.pwInit {
  text-align: initial;
  font-size: 12.5px;
  color: #ce2908;
}

.pwTrue {
  text-align: initial;
  font-size: 12.5px;
  color: #06a821;
}
