@font-face {
  font-family: "SCDream1";
  src: url("./assets/Fonts/SCDream/SCDream1.otf");
}
@font-face {
  font-family: "SCDream2";
  src: url("./assets/Fonts/SCDream/SCDream2.otf");
}
@font-face {
  font-family: "SCDream3";
  src: url("./assets/Fonts/SCDream/SCDream3.otf");
}
@font-face {
  font-family: "SCDream4";
  src: url("./assets/Fonts/SCDream/SCDream4.otf");
}
@font-face {
  font-family: "SCDream5";
  src: url("./assets/Fonts/SCDream/SCDream5.otf");
}
@font-face {
  font-family: "SCDream6";
  src: url("./assets/Fonts/SCDream/SCDream6.otf");
}
@font-face {
  font-family: "SCDream7";
  src: url("./assets/Fonts/SCDream/SCDream7.otf");
}
@font-face {
  font-family: "SCDream8";
  src: url("./assets/Fonts/SCDream/SCDream8.otf");
}
@font-face {
  font-family: "SCDream9";
  src: url("./assets/Fonts/SCDream/SCDream9.otf");
}

body {
  /* 배경 적용은 보류 */
  /* background-image: url("./assets/Images/background.png"); */
  /* background-color: #f8f8f8 !important; */
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.header {
  width: 100vw !important;
  max-width: 100vw !important;
  display: inline-block;
  text-align: center !important;
}
.Menu {
  position: relative;
  height: 30px;
}

.NavMenu ul li {
  list-style: none;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.NavMenu .menuLink {
  width: 16vw;
  max-width: 16vw;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-family: "SCDream4";
}

.menuLink div {
  width: 100%;
  color: black;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 500ms;
}

.menuLink:hover div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}

.MenuActive div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}

/*로그인 메뉴 버튼 관리 (부트스트랩)*/
.LoginLink,
.SignOut {
  height: 4vh;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "SCDream4";
  display: block;
}

.LoginLink > div {
  width: 16vw;
  color: black;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 500ms;
}
.LoginLink:hover div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}

.SignOut > div {
  line-height: 4vh;
  width: 100%;
  color: black;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 500ms;
}
.SignOut:hover div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}

.NavMenu button {
  font-size: 14.4px;
  font-family: "SCDream4";
  font-weight: bold;
  border: none;
  color: black !important;
  transition: 100ms;
}

.NavMenu button:hover {
  color: #f6330a !important;
  text-decoration: underline 0.15em;
}

/* 로그인 메뉴 CSS (부트스트랩 적용방지) */
.btn-primary {
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}

.dropdown-item {
  padding: 0 !important;
}
.dropdown-item:hover {
  background-color: white !important;
}

.dropdown {
  display: flex;
  justify-content: center;
  background-color: none !important;
  min-height: 2vh;
  vertical-align: middle;
  width: 16vw;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);

  transition: text-decoration-color 500ms;
}

.dropdown:hover {
  text-decoration: underline 0.15em;
}
.dropdown-menu {
  min-width: 200px !important;
  max-width: 200px !important;
}
.btn {
  padding: 0 !important;
}

/* NotFound 페이지 */
.goHome {
  margin-top: 1vh;
  font-size: 1.1em;
  color: black;
  font-family: "SCDream4";
  text-decoration: underline 0.15em rgba(255, 255, 255, 0) !important;
  transition: 0.25s;
}
.goHome:hover {
  text-decoration: underline 0.15em rgba(241, 51, 8, 1) !important;
  color: #f6330a;
}
