@font-face {
  font-family: "SCDream1";
  src: url("./assets/Fonts/SCDream/SCDream1.otf");
}
@font-face {
  font-family: "SCDream2";
  src: url("./assets/Fonts/SCDream/SCDream2.otf");
}
@font-face {
  font-family: "SCDream3";
  src: url("./assets/Fonts/SCDream/SCDream3.otf");
}
@font-face {
  font-family: "SCDream4";
  src: url("./assets/Fonts/SCDream/SCDream4.otf");
}
@font-face {
  font-family: "SCDream5";
  src: url("./assets/Fonts/SCDream/SCDream5.otf");
}
@font-face {
  font-family: "SCDream6";
  src: url("./assets/Fonts/SCDream/SCDream6.otf");
}
@font-face {
  font-family: "SCDream7";
  src: url("./assets/Fonts/SCDream/SCDream7.otf");
}
@font-face {
  font-family: "SCDream8";
  src: url("./assets/Fonts/SCDream/SCDream8.otf");
}
@font-face {
  font-family: "SCDream9";
  src: url("./assets/Fonts/SCDream/SCDream9.otf");
}
#header {
  width: 100vw !important;
  max-width: 100vw !important;
  display: inline-block;
  text-align: center !important;
}
#topMenu {
  position: relative;
  height: 30px;
}

#topMenu ul li {
  list-style: none;
  background-color: #2d2f2d;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

#topMenu .menuLink {
  width: 260px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-family: "SCDream4";
}

#topMenu .Sign {
  width: 80px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-family: "SCDream4";
}
.menuLink {
  background-color: white;
}
.menuLink div {
  color: black;
  font-size: 1.2em;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 500ms;
}
.menuLink:hover div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}

.MenuActive div {
  color: #f6330a;
  font-size: 1.2em;
  text-decoration: underline 0.15em;
}
